*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(collage.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}


body span{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.navbar-brand{
    font-weight: bold;
    padding: 70px;
    font-size: 3em;
    color: #fff;
    font-style: oblique;
}

.navbar-nav{
    padding-left: 100px;
}
.menu{
    height: 600px;
    width: 1350px;
}

.nav-link{
    font-weight: bold;
color: #fff;
font-style: oblique;
margin-left: 10px;
transition: transform 0.5s;
padding-left:30Px;

}

.nav-link:hover{
    background-color: #3498db;
    border-radius: 50%;
    transform: translateY(-20%);
}
.contain{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background:lightslategray;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
h3{
    color: blue;
    display: bold;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background:lightskyblue;
    color: rgb(238, 236, 236);
    display: block;
}
h1{
    margin-bottom: 10px;
    color:greenyellow;
    text-align: center;
}
.contain p{
    margin-bottom: 40px;
    text-align: center;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-group{
    font-weight: 800;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;

}
label{
    margin-bottom: 6px;
    display: block;
    color:Black;
}
.ab{
    background:#3498db;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.ab:hover{
    background-color: green;
}
.conact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight:600 ;
    margin-bottom:30px ;
}
tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;

}
p{
    color:honeydew;
    display: block;

}