*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(collage.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}
.reg{
    width: 900px;
    background-color:none;
    margin: auto;
    color:Black;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.cls{
    border:2px solid #3498db;
}
.man{
    
    width: 900px;
    margin: auto;
    background-color:skyblue;

}
form{
    padding: 10px;
}
#name{
    width: 100%;
    height: 100px;
}
.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.firstname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;

}
.lastname{
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.firstlabel{
    position: relative;
    color:white;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top:-55px ;

}

.lastlabel{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 188px;
    top:-52px;
}
#collage{
    margin-left: 25px;
   color: white;
   font-size: 18px; 
}
.collage{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    

}
.email{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}
.code{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 180px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}
.number{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 260px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}
.area-code{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    left:22px;
    top:-4
}
.phone-number{
    position: relative;
    color:white;
    text-transform: capitalize;
    font-size: 16px;
    left:-60px;
    top:-4
} 
.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width:537px;
    height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  
}
.option option{
    font-size: 20px;
}
#student{
margin-left: 25px;
color:white;
font-size: 18px;
}
.student{
    font-weight: 800px;
}
.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color:white;
}
.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
button{
    background-color: #3BAF9F;
    display: block;
    margin-left: 100px;
    text-align: center;
    border-radius: 12px;
    border:2px solid #366473;
    padding: 14px 110px;
    color:white;
    cursor: pointer;
    transition: 0.25px;
    font-weight: 800;
    
}
button:hover{
    background-color: greenyellow;
}


body span{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.navbar-brand{
    font-weight: bold;
    padding: 70px;
    font-size: 3em;
    color: #fff;
    font-style: oblique;
}

.navbar-nav{
    padding-left: 100px;
}
.menu{
    height: 600px;
    width: 1350px;
}

.nav-link{
    font-weight: bold;
color: #fff;
font-style: oblique;
margin-left: 10px;
transition: transform 0.5s;
padding-left:30Px;

}

.nav-link:hover{
    background-color: #3498db;
    border-radius: 50%;
    transform: translateY(-20%);
}